.container-form-image__with-div {
  position: relative !important;
}
.text-container-form-image__with-div {
  position: absolute;
  bottom: 20px;
  background-color: #030737;
  right: 20px;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  width: 70%;
  height: 50%;
}

.form-image__with-div {
  max-width: 470px;
}

@media screen and (max-width: 600px) {
  .container-form-image__with-div {
    position: static;
  }
  .text-container-form-image__with-div {
    visibility: hidden;
  }
}

.conatiner-about__details {
  flex-grow: 1;
}
