.fluid-container__students-testimonials {
  background-color: #dadaeb;

  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #dadaeb 7px
    ),
    repeating-linear-gradient(#9799b955, #9799b9);
}
.card-container__students-testimonials {
  background-color: #bbdefb;
  font-size: larger;
  padding: 10%;
  background-color: rgb(233, 233, 244);
}

.card-container__students-testimonials:hover,
.card-container__students-testimonials:active {
  color: white;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.5);
  background-color: #205b94;
}
.contol-carousel {
  color: white;
  position: absolute;
}
.contol-carousel:hover {
  color: #030737;
  border: 3px solid #030737;
  border-radius: 50%;
}

.circle-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
